.profileScreen{
  height: 100vh;
  color: white;
}
.profileScreen__body{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}
.profileScreen__info{
  display: flex;
  margin-left: 300px;
}

.profileScreen__signOut{
  font-size: 14px;
  margin-top: 160px;
  padding:8px 10px;
  margin-left: -190px;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;

}

.profileScreen__body > h1{
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 22px;
  margin-left: -30px;
  color: whitesmoke;
  padding-bottom: 8px;
}
.profileScreen__info > img {
  height: 100px;
  border-radius: 6px;
  cursor: pointer;
}
.profileScreen__info > h2{
  margin-top: 116px;
  margin-left: -190px;
  color: goldenrod;
}
.profileScreen__info img:hover{
transform: scale(1.05);
}